.idea/encodings.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/taskmaster.iml
.idea/taskmaster.iml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml