<!doctype html>
<html lang="en" ng-app="taskmasterApp">
    <head>
        <meta charset="utf-8">
        <title>Taskmaster</title>
        <link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/libs/angular/angular.js"></script>
        <script src="static/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="static/libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="static/js/taskmaster_app.js"></script>
    </head>
    <body ng-controller="ProcessListController">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <accordion>
                        <accordion-group ng-repeat="(process_id,process_info) in process_list_model">
                            <accordion-heading>
                                <div class="process-heading" ng-click="subscribe_unsubscribe_to_logs(process_id)">
                                    <div class="process-namebox">
                                        {{process_info.info.name}}
                                    </div>
                                    <div class="process-controlbox">
                                        <div ng-switch on="process_info.status.status">
                                            <button ng-switch-when="dead" class="btn btn-sm btn-success" ng-click="$event.stopPropagation(); start_process(process_id)">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </button>
                                            <button ng-switch-default class="btn btn-sm btn-danger" ng-click="$event.stopPropagation(); stop_process(process_id)">
                                                <span class="glyphicon glyphicon-stop"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </accordion-heading>
                                <div ng-repeat="log_line in log_buffer">{{log_line}}</div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </body>
</html>