<!doctype html>
<html lang="en" ng-app="taskmasterApp">
    <head>
        <meta charset="utf-8">
        <title>Taskmaster</title>
        <link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.css">
        <script src="static/libs/angular/angular.js"></script>
        <script src="static/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="static/libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="static/js/taskmaster_app.js"></script>
    </head>
    <body ng-controller="ProcessListController">
        <div class="container-fluid">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-9">
                    <accordion>
                        <accordion-group ng-repeat="(process_id,process_info) in process_list_model">
                            <accordion-heading>
                                <div class="row">
                                    <div class="col-md-4">{{process_info.info.name}}</div>
                                    <div class="col-md-5">
                                        {{process_info.status.status}}
                                    </div>
                                </div>
                            </accordion-heading>
                            {{process_info.status}}
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </body>
</html>