<!doctype html>
<html lang="en" ng-app="taskmasterApp">
    <head>
        <meta charset="utf-8">
        <title>Taskmaster</title>
        <link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.css">
        <script src="static/libs/angular/angular.js"></script>
        <script src="static/libs/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="static/libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="static/js/taskmaster_app.js"></script>
    </head>
    <body ng-controller="ProcessListController">
        <div>
            <div ng-repeat="(process_id,process_info) in process_list_model">
                <div>{{process_id}}</div>
                <div>{{process_info.status}}</div>
            </div>
        </div>
    </body>
</html>